.card {
  background-color: #F3F3F3;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 310px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.image-container {
  width: 260px;
  height: 261px;
  background-color: #D7D7D7;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  text-align: left; 
  margin-bottom: 10px;
}

.price {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

.name {
  font-size: 1.1rem;
  color: #555;
  margin-top: 5px;
}

.add-to-cart {
  background-color: #009746;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 50px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: auto; 
  align-self: flex-start; 
}

h3 {
  color: #555;
}

