html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.app-layout h1 {
  text-align: left;
  
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 40px 80px 40px;
  box-sizing: border-box;
  position: relative;
}

.page-title {
  font-size: 3rem;
  font-weight: bold;
  color: #009746;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding-left: 280px;
  margin-top: 100px;
  margin-bottom: -50px;
  transition: font-size 0.3s ease, padding-left 0.3s ease;
}

